<div class="container">
  <div class="row">
      <div class="col-xs-6">
        <h3><%= @lending.name %></h3>
        <h6>個数：<%= @lending.quantity %></h6>
        <h6>説明：<%= @lending.caption %></h6>


      </div>
  </div>
</div>