<div class="container">
 <div class= "row" >

  <h2>予約履歴一覧</h2>

    <table>

      <thead>
          <tr>
          <th>氏名</th>
          <th>利用部屋</th>
          <th>貸出物</th>
          <th>貸出日</th>
          <th>返却日</th>
          <th></th>
          </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
          <td><</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>