<div class= "container">
  <div class="sample1">
    <h1 class="text-center">About</h1>
    <h4 class="text-center">レンタル・ネットワークは部屋や機器を貸出予約できるサイトです。</h4><br>
    <h4 class= "text-center">仕事やイベント、授業等でレンタルしたい部屋・機器を登録して</h4><br>
    <h4 class= "text-center">予約できるようになっております。</h4><br>
    <h4 class ="text-center">ぜひご利用ください。</h4><br>
 </div>
</div>