<div class="container takasa">
  <div class="row">
    <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
      <div class="col-12">
        <div class="mb-auto p-2 bd-highlight">
         <h4>ようこそながのCAKEへ！</h4>
         <h4>このサイトは、ケーキ販売のECサイトになります。</h4>
         <h4>会員でない方も商品の閲覧はできますが、</h4>
         <h4>購入には会員登録が必要となります。</h4>
        </div>
      </div>
    </div>
  </div>

