<h2>Results index</h2>

<table class="table table-hover table-inverse">

  <% if @range == "Room" %>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td><%= room.caption %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>

    <tbody>
      <% @lendings.each do |lending| %>
        <tr>
          <td><%= lending.name %></td>
          <td><%= lending.caption %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>