<div class='container'>
  <div class='row'>
    <div class="col-xs-12">

      <h1>貸出物詳細</h1><br>
      　<div class="col-xs-6">
      　   <div class="field">
             <h4>貸出物名</h4>
             <p><%= @lending.name %></p>
          </div>
           <div class="field">
             <h4>個数</h4>
             <p><%= @lending.quantity %></p>
          </div>
        　<div class="field">
             <h4>貸出物説明</h4>
             <p><%= @lending.caption %></p>
        　</div>
          <div class="field">
             <span><%= link_to "編集する",edit_admin_lending_path(@lending), class:"btn btn-success" %></span>
          </div>
        </div>
     </div>
  </div>
</div>